@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,700&display=swap');

* {
    font-family: 'Source Code Pro' monospace;
    --fonts: 'Josefin Sans', sans-serif;
  }

body{
    background-image: url(./img/DSC_1542.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    width: 90px;
    border-radius: 20px;
    float: left;
    margin: 0;
    cursor: pointer;
}

.logo2{
    float: right;
    margin: 0;
}

.parrafo2{
    font-size: 45px;
    margin: 0;
    color: yellow;
    bottom: -60px;
    position: relative;
    align-items: center;
}

.capa2{
    background-color: black;
    opacity: 0.70;
    width: 800px;
    height: 350px;
    border-radius: 30px;
    bottom: -100px;
    margin: 0 120px;
    position: relative;
  }

  @media screen and (max-width: 800px){
    body{
      background-image: url(./img/DSC_1542.jpg);
      width: 100%;
      background-position: center;
      height: auto;
      background-repeat: no-repeat;
      backdrop-filter: none;
    }   
  
    .logo{
      width: 30px;
      margin: 0;
      border-radius: 10px;
  }
  
  
  .capa2{
    background-color: black;
    opacity: 0.4;
    width: 370px;
    height: 200px;
    border-radius: 30px;
    margin: 0 0 170px;
  }

  .parrafo2{
    font-size: 15px;
    margin: none;
    color: yellow;
    bottom: none;
    position: none;
    justify-content: left;
}

}


