@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,700&display=swap');

* {
    font-family: 'Source Code Pro' monospace;
    --fonts: 'Josefin Sans', sans-serif;
  }

body{
    background-image: url(./img/entre3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(4px);
}

.logo{
    width: 90px;
    border-radius: 20px;
    float: left;
    margin: 0;
}

.logo2{
    float: right;
    margin: 0;
}

li{
    font-size: 40px;
    margin: 15px;
    color: yellow;
    bottom: -70px;
    position: relative;
  }

h4{
    font-size: 70px;
    text-align: center;
    margin: 0;
    color: yellow;
    bottom: -20px;
    position: relative;
}

h3{
    font-size: 40px;
    margin: 35px;
    color: yellow;
    bottom: -40px;
    position: relative;
}

h5{
    font-size: 40px;
    margin: 0 0 0 210px;
    color: yellow;
    bottom: -60px;
    position: relative;
}

.capa{
    background-color: black;
    opacity: 0.4;
    width: 630px;
    height: 420px;
    border-radius: 30px;
    margin: 0 380px;
  }

  a{
    text-decoration: none;
  }

  @media screen and (max-width: 800px){
    body{
      background-image: url(./img/entre3.jpg);
      width: 100%;
      background-position: center;
      height: auto;
      background-repeat: no-repeat;
      backdrop-filter: none;
    }   
  
    .logo{
      width: 35px;
      margin: 0;
      border-radius: 10px;
  }
  
  li{
    font-size: 13px;
    margin: 0 0 15px;
    color: yellow;
    bottom: -70px;
    position: relative;
  }

  h4{
    font-size: 20px;
    text-align: center;
    margin: 0;
    color: yellow;
    bottom: -5px;
    position: relative;
}
  
.capa{
        background-color: black;
        opacity: 0.4;
        width: 300px;
        height: 230px;
        border-radius: 30px;
        margin: 0;
      }  

h3{
        font-size: 13px;
        margin: 35px;
        color: yellow;
        bottom: -40px;
        position: relative;
    }
    
h5{
        font-size: 20px;
        margin: 0 50px 0;
        color: yellow;
        bottom: -60px;
        position: relative;
    }
    .logo2{
        float: right;
        margin: 0;
    }

}

